# For more information: https://laravel.com/docs/sail
services:
  app:
    container_name: ${COMPOSE_PROJECT_NAME}
    build:
      context: ./docker/${DOCKER_PHP_VERSION:-8.4}
      dockerfile: Dockerfile
      target: transmorpher_base
      args:
        WWWGROUP: '${WWWGROUP}'
    image: transmorpher-sail-${DOCKER_PHP_VERSION:-8.4}/app
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      WWWUSER: '${WWWUSER}'
      LARAVEL_SAIL: 1
      XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
      VIDEO_TRANSCODING_WORKERS_AMOUNT: ${VIDEO_TRANSCODING_WORKERS_AMOUNT:-1}
    volumes:
      - '.:/var/www/html'
    networks:
      - shared
      - internal
    depends_on:
      - mysql
      - mysql_testing
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_PROJECT_NAME}.test`)'
      - 'traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=80'
  mysql:
    image: 'mysql/mysql-server:8.0'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    volumes:
      - 'sail-mysql:/var/lib/mysql'
    networks:
      - internal
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
      retries: 3
      timeout: 5s
  mysql_testing:
    image: 'mysql/mysql-server:8.0'
    environment:
      MYSQL_ROOT_PASSWORD: 'transmorpher_test'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: 'transmorpher_test'
      MYSQL_USER: 'transmorpher_test'
      MYSQL_PASSWORD: 'transmorpher_test'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    networks:
      - internal
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
      retries: 3
      timeout: 5s
networks:
  internal:
    internal: true
  shared:
    external: true
volumes:
  sail-mysql:
    driver: local
