name: Tests

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
  workflow_dispatch:

jobs:
  execute-tests:
    name: Setup testing environment and execute tests
    # https://github.com/cybex-gmbh/github-workflows/blob/main/.github/workflows/tests.yml
    uses: cybex-gmbh/github-workflows/.github/workflows/tests.yml@main
    strategy:
      fail-fast: true
      matrix:
        php: [ 8.4 ]
        laravel: [ 12.* ]
        dependency-version: [ prefer-stable ]
    with:
      PHP_VERSION: ${{ matrix.php }}
      LARAVEL_VERSION: ${{ matrix.laravel }}
      DEPENDENCY_VERSION: ${{ matrix.dependency-version }}
      DATABASE_NAME: transmorpher_test
      LINUX_PACKAGES: imagemagick jpegoptim optipng pngquant gifsicle webp ffmpeg
